{% extends 'base_customer_care.html'%}
{%from 'helper_customer_care.html' import sidebar %}
{% block body%}

  <div class="container-fluid mt-2">
    <div class="row">
        <div class="col-lg-3">
        <!--
        *** CUSTOMER MENU ***
        _________________________________________________________
        -->
        {{sidebar(page='shops')}}
        <!-- /.col-lg-3-->
        <!-- *** CUSTOMER MENU END ***-->
        </div>
        <div class="col-lg-9">
          <!-- breadcrumb-->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('customer_care.custcare_shops', shop_state='all')}}">Restuarants</a></li>
              <li class="breadcrumb-item">Restuarant</li>
            </ol>
          </nav>
          <div class="card rounded-0">
            <div class="card-body">
              <div class="w-100 d-flex flex-row">
                <div>
                  <div class="h3">{{"Restuarant Name: "~restuarant.business_name|title}} <i class="fa fa-certificate"></i></div>
                </div>
                <div class="ml-auto">
                  <figure class="figure">
                    <img src="{{url_for ('static', filename='business_profile_picture/' + restuarant.business_profile_picture )}}" alt="{{ restuarant.business_profile_picture }}" class="img-fluid img-thumbnail border-0" >
                    <figcaption class="figure-caption">{{restuarant.business_name|title}}</figcaption>
                  </figure>
                </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <p class="text-muted">{{"Operational since: "~restuarant.date_of_registration.strftime('%m/%d/%Y')}}</p>
                      <p><i class="fa fa-address-card-o"> </i> {{restuarant.address}}</p>
                      <p><i class="fa fa-envelope"></i> {{restuarant.email}}</p>
                      <p><i class="fa fa-phone"></i> {{restuarant.contact ~" /" ~restuarant.second_contact}}</p> 
                  </div>
                  
              </div>
              <div class="row mt-3">
                  <div class="col-md-6 col-sm-6">
                      <p class="h4">Company Details</p>
                      <div class="mx-4">
                        <p><b>Name: </b>{{restuarant.business_name}}</p>
                        <p><b>Location: </b>{{restuarant.location}}</p>
                        <p><b>Description: </b>{{restuarant.description}}</p>
                      </div>
                  </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
    </div>
  </div>

{%endblock%}


