<section class="d-flex text-center container-fluid sticky-top rounded shadow form-signin" style="background-image: linear-gradient(white, #f8f9fa);">
	
	<div class="input-group input-group-lg">
		<input type="text" name="search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Search Meal" v-model="searchString">
		<button class="btn btn-warning" type="button" @click="searchProduct()"><span class="fa fa-search"></span></button>
	</div>

	<div class="py-2">
		<a href="{{url_for('cart_bp.get_cart')}}" class="text-warning nav-link mx-2 my-auto">
			<span class="fa fa-shopping-basket"></span>
			<span v-if="cartCount" class="translate-middle badge rounded-pill bg-danger">
			{{'{{cartCount}}'}}
			</span>
		</a>
	</div>
</section>